a {
  text-decoration: none;
  color: white;
}
p {
  font-size: small;
  font-style: italic;
}

.app {
  background-color: white;
  margin: 20px;
}
.contact {
  justify-content: center;
  font-size: large;
  padding: 20px;
  background-color: black;
  width: 450px;
  height: auto;
  color: magenta;
}
.nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav,
h1 {
  margin: 20px;
  font-size: x-small;
}
.nav h1:hover {
  background-color: white;
  color: magenta;
  padding: 10px;
  border-style: solid;
  border-radius: 10px;
}
.btn {
  width: 200px;
  background-color: black;
  color: white;
  height: 50px;
  border-radius: 50px;
}
.btn:hover {
  background-color: white;
  color: magenta;
  border-style: solid;
  border-radius: 50px;
  cursor: zoom-in;
}
.scroll {
  font-size: 24px;
  font-weight: bold;
  animation: fadeIn is ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.project {
}
projectImage {
  display: flex;
  justify-content: space-evenly;
}
.display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}
.form {
  display: block;
}
.mark {
  display: flex;
  font-size: x-small;
}
input {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  padding: 10px;
  border-style: none;
  width: 270px;
  height: 40px;
}
textarea {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 270px;
  border-radius: 10px;
}
.cont {
  font-size: 50px;
}

@media (max-width: 768px) {
  .display {
    grid-template-columns: 1fr;
  }
  .contact {
    justify-content: center;
    font-size: large;
    padding: 10px;
    background-color: black;
    width: 400px;
    height: auto;
    color: white;
  }
}
